<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>To Do List app</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('css/shop-homepage.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <![endif]-->
    </head>

    <body>
        <nav class="navbar navbar-light navbar-fixed-top navbar-color" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">To Do List app</a>

                    <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms" />
                </div>
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container">
            {% if app.user %}
                <div class="row">
                    {% if app.user.roles == ["ROLE_ADMIN"] %}
                        <div class="nav-position">
                            <a href="{{ path('user_create') }}" class="btn btn-primary">Créer un utilisateur</a>
                            <a href="{{ path('user_list') }}" class="btn btn-primary">Liste des utilisateurs</a>
                        </div>
                    {% endif %}
                    <div class="nav-position nav-responsive-separate">
                        {% if 'homepage' != app.request.attributes.get('_route') %}
                            <a href="{{ path('homepage') }}" class="btn btn-success">Accueil</a>
                        {% endif %}
                        <a href="{{ path('logout') }}" class="pull-right btn btn-danger">Se déconnecter</a>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-12">
                    {% block header_title %}{% endblock %}
                    {% block header_img %}<br><img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- /.container -->
        {% block flash %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div id="b-flash">
                        <div class="flash-position">
                            <div class="alert alert-{{ label }} flash-block" id="m-flash">
                                <button type="button" class="close" href="#" id="suppr" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ message }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}
        <div class="container">
            <hr>
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="pull-right">Copyright &copy; OpenClassrooms</p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $('#m-flash').fadeIn(1000);
                timerFlash = setTimeout(function() {
                    $('#m-flash').fadeOut(5000);
                }, 10000);

                $('#m-flash').on('mouseover', function(){
                    window.clearTimeout(timerFlash);
                    $(this).stop(true).fadeIn(500);
                });

                $('#m-flash').on('mouseleave', function() {
                    leave(this);
                });

                function leave(i){
                    timerFlash = setTimeout(function(){

                        $(i).fadeOut(5000, function() {
                            $(this).hide();
                        });
                    }, 5000);
                }

                $('#b-flash').on('click', '#suppr', function (e) {
                    e.preventDefault();
                    $('#m-flash').hide();
                })
            });
        })(jQuery);
    </script>
{% endblock %}