<div class="task-row">
   {% for task in tasks %}
      <div class="col-lg-4 col-md-6 col-xs-12 post {% if task.isDone %}taskDone{% else %}taskToDo{% endif %}"
           data-title="{{ task.title }}"
           data-username="{% if task.user %}{{ task.user.username }}{% else %}Anonyme{% endif %}"
           data-content="{{ task.content }}">
         <div class="card border-{% if task.isDone %}success{% else %}primary{% endif %} mb-4">
            <div class="card-header">
               <h4 class="title"><b>{{ task.title }}</b></h4>
            </div>
            <div class="card-body text-{% if task.isDone %}success{% else %}primary{% endif %}">
               <p class="username">Créer par <b>{% if task.user == null %}Anonyme{% else %}{{ task.user.username }}{% endif %}</b></p>
               <p class="content">{{ task.content|truncate(80, false, '...') }}</p>
            </div>
            <div class="card-footer">
               <a href="#" data-toggle="modal" data-target="#infos" class="btn-info-modal" id="btn-modal">Voir plus</a>
               {% if task.user and task.user.username == app.user.username or app.user.roles == ["ROLE_ADMIN"] %}
                  <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                     <button href="#" class="btn btn-{% if not task.isDone %}success{% else %}warning{% endif %} btn-sm pull-right btn-separate">
                        {% if not task.isDone %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-remove"></i>{% endif %}
                     </button>
                  </form>
                  <form action="{{ path('task_edit', {'id' : task.id }) }}">
                     <button class="btn btn-info btn-sm pull-right btn-separate">
                        <span class="btn-task-content"><i class="fa fa-pencil"></i></span>
                     </button>
                  </form>
                  <form action="{{ path('task_delete', {'id' : task.id }) }}">
                     <button class="btn btn-danger btn-sm pull-right btn-separate">
                        <span class="btn-task-content"><i class="fa fa-trash"></i></span>
                     </button>
                  </form>
               {% endif %}
            </div>
         </div>
      </div>
   {% else %}
      <div class="alert alert-warning" role="alert">
         Il n'y a pas encore de tâche enregistrée.
         <a href="{{ path('task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
      </div>
   {% endfor %}
</div>